.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-hight: 350px; }

.footer {
  background-color: #088C70;
  margin: 0px auto;
  padding: 20px 0px;
  color: white;
  font-weight: bold;
  font-size: 18px; }
  .footer a {
    color: white;
    font-size: 16px; }
    .footer a:hover {
      color: orange; }
  .footer h5 {
    color: yellow;
    font-size: 20px; }

.jumbotron {
  margin: 0px auto;
  padding: 60px 20px;
  background: #088A45;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0px;
  background: #A9F5BC; }

.navbar-dark {
  background-color: #088A68; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #088A68; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0px;
      left: 0px;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

/*-------------------------*/
.modal-header {
  background-color: #088A68; }
  .modal-header .modal-title {
    color: floralwhite; }
  .modal-header .close {
    color: #088C70; }
    .modal-header .close:hover {
      color: floralwhite; }

.modal-body {
  background-color: #088C70; }

.modal-footer {
  background: #088A45; }

.close:hover {
  color: floralwhite; }

/*-------------------------*/
/*-------------------------*/
.slidetext {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 1px green; }

.fa-user {
  color: red; }

.modal-body label {
  color: cyan; }
